footer {
  margin: 4rem 9rem;
  position: absolute;
}

.footer {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
}

.links-footer {
  display: flex;
  gap: 2rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links a {
  display: flex;
  gap: 1.2rem;
  justify-self: center;
  align-items: center;
  text-decoration: none; /* Ensure the link has no default underline */
  min-width: 150px; /* Ensures the link has a minimum clickable width */
  padding: 8px 0; /* Adds some padding for easier clicking */
}



.social-links a:hover {
  cursor: pointer;
  color: #c6ff00;
  fill: #c6ff00;
}


.footerbg {
  width: 18rem;
}

.contact-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}

/* .text-input {
  background-color: inherit;
  color: white;
  border: 1px solid rgb(170, 168, 168);
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem; 
  border-radius: 5px;
}

.text-input:hover{
  border: 2px solid white;
}




.text-input:focus {
  border: 2px solid #c6ff00;
  color: white;
} */
