footer {
  margin: 4rem 9rem;
  position: absolute;
}

.footer {
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;
}

.links-footer {
  display: flex;
  gap: 2rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.social-links a {
  display: flex;
  gap: 1.2rem;
  justify-self: center;
  align-items: center;
  text-decoration: none;
  min-width: 150px;
  padding: 8px 0;
}

.social-links a:hover {
  cursor: pointer;
  color: #c6ff00;
  fill: #c6ff00;
}

.footerbg {
  width: 18rem;
}

.contact-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 1rem;
}


