body{
  margin: 0;
  padding: 0;
}


section{
  margin: 0;
  padding: 0;
}

.featured-heading{
  font-size: 6rem;
  text-align: center;
  font-weight: 300;
}




.wave{
  margin: 0;
  padding: 0;
}

.project-name{
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1rem;
}

.projects-link{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-items: center;
  justify-self: center;
  /* align-content: center; */
}

.project-link{
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;
  gap: 7px;
  background-color: #c6ff00;
  color: black;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1rem;
}
.github-link{
  padding: 4px 16px;
}

.live-link{
  padding: 6px 16px;
}

.link{
  width: 1rem;
  color: black;
}

.project-stack{
  margin: 0 10rem;
}

.project-stack-box{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}



.project-techstack{
  margin-top:5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
}

.project-techstack img{
  width: 4rem;
}

.project-stack-box p{
  margin: 0.6rem 2rem;
}

.project-img img{
  width: 35rem;
  
}

