*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: white;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #091c34;
    z-index: 1;
    
}
.header-div{
   
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 1rem;
   align-items: center;
   
}

.navbar{
    display: flex;
    gap: 2rem;
}