* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #091c34;
  z-index: 1;
}
.header-div {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  padding: 1rem;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 2rem;
}
.navbar a {
  position: relative;
  padding: 6px 0;
  text-decoration: none;
  color: white; 
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 100%; 
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #c6ff00;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar a:hover::after,
.navbar a:active::after {
  width: 100%;
  left: 0; 
}


