.hero {
  display: flex;
  margin: 6rem 8rem;
  align-items: center;
}

.hero-intro {
  margin-top: -5rem;
}
.hero-intro h1 {
  font-size: 60px;
  font-weight: 300;
  color: red;
  margin-bottom: 1rem;
}

.hero-intro h1 span {
  margin-left: 9px;
}

.hero-intro h2 {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 1rem 0;
}

.hero-intro p {
  font-size: 16px;
  margin: 0 11rem 1rem 0rem;
  letter-spacing: 0.8px;
  word-spacing: 1px;
}

.hero-icons {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hero-icons img {
  width: 2.4rem;
}

.hero-icons img:first-child {
  margin-right: 0.9rem;
}

.btn {
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  font-style: bold;
}

.btn-div {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.btn-anchor {
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;
}

.btn-anchor img {
  width: 1.6rem;
  margin-right: 0.4rem;
}

.resume-anchor {
  background-color: #c6ff00;
  padding: 4px 16px;
  border-radius: 4px;
  color: black;
}

.work-anchor {
  color: #c6ff00;
  border: 1px solid #c6ff00;
  padding: 4px 16px;
  border-radius: 4px;
}

.work {
  color: #c6ff00;
}

.btn-full {
  color: black;
  background-color: #c6ff00;
}

.programmer-img img {
  width: 36rem;
  height: auto;
}
