.feature-div {
  display: flex;
  justify-content: space-evenly;
  margin: 9rem 1rem;
}

.coder img {
  width: 32rem;
  margin-top: 3rem;
}

.techstack-div h1 {
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.tech-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-items: center;
  justify-self: center;
  text-align: center;
}

.tech-stack h4 {
  font-weight: 400;
}

.tech-stack img {
  width: 5rem;
}
